.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

/* Slider */

.swiper-container {
  border-radius: 0.4rem;
}

.swiper-slide {
  height: auto;
  padding: 4rem 0;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background: var(--white-l2);
}

.swiper-pagination-bullet-active {
  background: var(--orange-l2);
}
